<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="registry_server" value="http://localhost:4999"/>
    <add key="host_address" value="http://localhost:5085"/>
    <add key="Config_out_path" value="C:\Users\Daniel\Desktop\"/>
    <add key="IO_config_location" value="CurrentIoConfig.io"/>
    <add key="DS_config_location" value="CurrentDataStoreConfig.ds"/>
  </appSettings>
</configuration>